.dropdown {
    margin-top: 0.125rem;
}

    .dropdown .bi-globe {
        font-size: 1.5rem;
    }

.dropdown-menu {
    margin-bottom: 0.1rem;
}

.btn {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    box-shadow: none;
    border: none;
}