.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .main-container .float-start {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .main-container .float-start .icon {
            vertical-align: middle;
            margin: 10px 5px;
            font-size: 1.5rem;
        }

            .main-container .float-start .icon:hover {
                cursor: pointer;
            }

        .main-container .float-start .vr {
            color: #808080;
            font-size: 1px;
            width: 2px;
            margin: 10px 5px;
        }

        .main-container .float-start .btn {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }

.bi-funnel-fill {
    font-size: 1.35rem;
}

.bi-info-circle {
    font-size: 1.5rem;
    color: #673ab7;
}

.bi-question-circle {
    font-size: 1.5rem;
}

.btn {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    box-shadow: none;
    border: none;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1; 
    }

    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
