<Modal @ref="modal" title="@Title" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="modal-content">
            TBD...
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideModal">Close</Button>
    </FooterTemplate>
</Modal>