@page "/"
@using Microsoft.Extensions.Localization
@using System.Globalization

<PageTitle>Admin</PageTitle>

<h2>JJ</h2>
<BasePlant Factory="JJ" />

<h2>CKP</h2>
<BasePlant Factory="CKP" />

<h2>RJ</h2>
<BasePlant Factory="RJ" />

<h2>JJS</h2>
<BasePlant Factory="JJS" />

<h2>HQ</h2>
<BasePlant Factory="HQ" />
