@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.imr-chart {
    width: 100%;
    min-height: 300px;
}

/*.row {
    margin: 0 !important;
}*/
/*:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}*/

/*.jumbotron .container {
    max-width: 40rem;
}*/
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.flex-even {
    flex: 1;
}
.breadcrumb a {
    text-decoration: none;
}

#spinner {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    z-index: 9999;
}

.diff_good_temp_color {
    background-color: rgb(248, 249, 250);
}
.diff_ok_temp_color {
    background-color: rgb(40, 167, 69);
}
.diff_attention_temp_color {
    background-color: rgb(255, 193, 7);
}
.diff_dangerous_temp_color {
    background-color: rgb(220, 53, 69);
}

