<div class="top-row pl-4 navbar navbar-dark">
    <!--<a class="navbar-brand ms-4" href="">AI-Thermometer Server</a>-->
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center pe-10">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="me-2">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                </path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
            TR Monitoring Solution
        </a>
        <a href="#" class="invisible">top</a>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/JJ">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JJ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/CKP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CKP
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/JJS">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JJS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/RJ">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RJ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/HQ">
                <span class="oi oi-list-rich" aria-hidden="true"></span> HQ
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin">
                <span class="oi oi-plus" aria-hidden="true"></span> Admin
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
